body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  height: 100%;
  width: 100vw;
  background-color: #f9EEE1;
}

.frame {

  height: 100vh;
  width: 100%;
  background-color: #2b2c2c;
  border-radius: 0px 300px 0px 0px;


}

.logo {
  margin-top: 2rem;
  width: 100%;
  border-radius: 0px 350px 0px 0px;



}

.text_frame {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  

}

.text {


  font-family: 'Roboto', sans-serif;
  color: #f9EEE1;
}

.web {
  margin-bottom: 2px;
  line-height: 0.8;

}

.estamos {
  margin-top: 2px;
}

.dejamos {
  margin-bottom: 2px;
}

.trabajos {
  margin-top: 2px;
}



.contactanos {
  margin-bottom: 2px;
}

.mail {
  margin-top: 2px;
}






a:link {
  color: #f53700;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #f53700;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color:#f75b13;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #f53700;
  background-color: transparent;
  text-decoration: underline;
}















@media (min-width: 900px) {

  .frame {
    height: 80%;
    width: 90%;
    background-color: #2b2c2c;
    border-radius: 150px 0px 0px 0px;
  }
}